In [2]:
import pandas as pd
import numpy as np
from numpy import log2 as log
error_handler = np.finfo(float).eps

In [3]:
data = pd.read_csv('Decision tree dataset.csv')

In [4]:
data

      Age    Education Income Marital Status Buy Computer
0   36-55     Master's   High         Single          Yes
1   18-35  High School    Low         Single           No
2   36-55     Master's    Low         Single          Yes
3   18-35   Bachelor's   High         Single           No
4     <18  High School    Low         Single          Yes
5   18-35   Bachelor's   High        Married           No
6   36-55   Bachelor's    Low        Married           No
7     >55   Bachelor's   High         Single          Yes
8   36-55     Master's    Low        Married           No
9     >55     Master's    Low        Married          Yes
10  36-55     Master's   High         Single          Yes
11    >55     Master's   High         Single          Yes
12    <18  High School   High         Single           No
13  36-55     Master's    Low         Single          Yes
14  36-55  High School    Low         Single          Yes
15    <18  High School    Low        Married          Yes
16  18-35   Bachelor's   High        Married           No
17    >55  High School   High        Married          Yes
18    >55   Bachelor's    Low         Single          Yes
19  36-55  High School   High        Married           No

In [5]:
data.head()

     Age    Education Income Marital Status Buy Computer
0  36-55     Master's   High         Single          Yes
1  18-35  High School    Low         Single           No
2  36-55     Master's    Low         Single          Yes
3  18-35   Bachelor's   High         Single           No
4    <18  High School    Low         Single          Yes

In [6]:
data.columns

Index(['Age', 'Education', 'Income', 'Marital Status', 'Buy Computer'], dtype='object')

In [20]:
# Class Entropy
patterns = data['Buy Computer'].unique() # yes or no
patterns

array(['Yes', 'No'], dtype=object)

In [8]:
# entropy of class
en_class = 0
for pattern in patterns:
    quotient = data['Buy Computer'].value_counts()[pattern] / data['Buy Computer'].shape[0] # probability
    en_class += -quotient*log(quotient) # equation to determine entropy

en_class

0.9709505944546686

Entropy of Class

In [33]:
en_class = 0
className = data.columns[-1]
patterns = data[className].unique()
for pattern in patterns:
    quotient = data[className].value_counts()[pattern] / data[className].shape[0] # probability
    en_class += -quotient*log(quotient) # equation to determine entropy

en_class

0.9709505944546686

In [29]:
# Entropy of a single Feature
feat = 'Age'
instances = data[feat].unique()
en_feat = 0
for ins in instances:
    en_each = 0
    for pattern in patterns:
        nr = len(data[feat][data[feat] == ins][data['Buy Computer'] == pattern])
        dr = len(data[feat][data[feat] == ins])
        quotient = nr/(dr + error_handler)
        en_each += -quotient*log(quotient + error_handler)
    q2 = dr / data.shape[0]
    en_feat += -q2 * en_each    
abs(en_feat)

0.5195179762781589

Entropy of Features

In [49]:
# Entropy of Features
attr_en = dict()
attr_ig = dict()

for column in data.columns[:-1]:
    ig = 0
    feat = column
    instances = data[feat].unique()
    en_feat = 0
    for ins in instances:
        en_each = 0
        for pattern in patterns:
            nr = len(data[feat][data[feat] == ins][data['Buy Computer'] == pattern])
            dr = len(data[feat][data[feat] == ins])
            quotient = nr/(dr + error_handler)
            en_each += -quotient*log(quotient + error_handler)
        q2 = dr / data.shape[0]
        en_feat += -q2 * en_each
        ig = en_class - abs(en_feat)
    attr_en.__setitem__(feat, abs(en_feat))
    attr_ig.__setitem__(feat, ig)
print("Entropy of Attributes:")    
print(attr_en)
print("\nInformation Gain of Attributes:")    
print(attr_ig)

In [50]:
m = [(key, value) for key, value in attr_ig.items()]
print(m)

[('Age', 0.4514326181765097), ('Education', 0.14354652412251978), ('Income', 0.030305144839322895), ('Marital Status', 0.10241011860920346)]

Max Information Gain

In [52]:
parent = max(attr_ig, key = attr_ig.get)
print(parent + " ", attr_ig[parent])

Age  0.4514326181765097

In [53]:
parent

'Age'

In [54]:
parentValue = np.unique(data[parent])
parentValue

array(['18-35', '36-55', '<18', '>55'], dtype=object)

Create Subtable

In [56]:
className = data.columns[-1]

for value in parentValue:
    subtable = data[data[parent] == value].reset_index(drop=True)
    col,counts = np.unique(subtable[className],return_counts=True)

subtable

   Age    Education Income Marital Status Buy Computer
0  >55   Bachelor's   High         Single          Yes
1  >55     Master's    Low        Married          Yes
2  >55     Master's   High         Single          Yes
3  >55  High School   High        Married          Yes
4  >55   Bachelor's    Low         Single          Yes