In [247]:
import pandas as pd
import numpy as np
import random

In [248]:
df = pd.read_csv('ecoli-0_vs_1.csv')

In [249]:
df.shape

(219, 8)

In [250]:
df.columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'Class']
df.head()

      A     B     C    D     E     F     G     Class
0  0.07  0.40  0.48  0.5  0.54  0.35  0.44  positive
1  0.56  0.40  0.48  0.5  0.49  0.37  0.46  positive
2  0.59  0.49  0.48  0.5  0.52  0.45  0.36  positive
3  0.23  0.32  0.48  0.5  0.55  0.25  0.35  positive
4  0.67  0.39  0.48  0.5  0.36  0.38  0.46  positive

In [251]:
df.head()

      A     B     C    D     E     F     G     Class
0  0.07  0.40  0.48  0.5  0.54  0.35  0.44  positive
1  0.56  0.40  0.48  0.5  0.49  0.37  0.46  positive
2  0.59  0.49  0.48  0.5  0.52  0.45  0.36  positive
3  0.23  0.32  0.48  0.5  0.55  0.25  0.35  positive
4  0.67  0.39  0.48  0.5  0.36  0.38  0.46  positive

In [252]:
d = {'positive': 1, 'negative': 0}
df['Class'] = df['Class'].map(d)

In [253]:
label = df['Class']

In [254]:
print(label)

0      1
1      1
2      1
3      1
4      1
      ..
214    0
215    0
216    0
217    0
218    0
Name: Class, Length: 219, dtype: int64

In [255]:
data = df.drop(columns=['Class'])

In [256]:
data.head()

      A     B     C    D     E     F     G
0  0.07  0.40  0.48  0.5  0.54  0.35  0.44
1  0.56  0.40  0.48  0.5  0.49  0.37  0.46
2  0.59  0.49  0.48  0.5  0.52  0.45  0.36
3  0.23  0.32  0.48  0.5  0.55  0.25  0.35
4  0.67  0.39  0.48  0.5  0.36  0.38  0.46

In [257]:
m1 = data.iloc[0]
print(m1)

A    0.07
B    0.40
C    0.48
D    0.50
E    0.54
F    0.35
G    0.44
Name: 0, dtype: float64

In [258]:
m2 = data.iloc[-1]
print(m2)

A    0.71
B    0.52
C    0.48
D    0.50
E    0.64
F    1.00
G    0.99
Name: 218, dtype: float64

In [259]:
data.shape[0]

219

In [260]:
data1 = []
data2 = []
prev_m1 = data.iloc[2]
prev_m2 = data.iloc[3]
c1 = []
c2 = []

while (not(prev_m1.equals(m1))) or (not(prev_m1.equals(m1))):
    for i in range(len(data)):
        dist1 = np.sum(np.square(m1 - data.iloc[i]))
        dist2 = np.sum(np.square(m2 - data.iloc[i]))
        if dist1 < dist2:
            data1.append(i)
        else:
            data2.append(i)
    
    prev_m1 = m1
    prev_m2 = m2

    m1 = data.loc[data1].mean()
    m2 = data.loc[data2].mean()
    
    #print('cluster1: ', data1, m1)
    #print('cluster2: ', data2, m2)
    print('\n')
    c1 = data1
    c2 = data2
    data1 = []
    data2 = []
    
print('Finally Clusters:' )
c1.sort()
c2.sort()
print(c1)
print(c2)

Finally Clusters:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 143, 182, 211, 212, 213, 214, 215, 216]
[45, 142, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 217, 218]

In [261]:
X = label.tolist()
print(X)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [262]:
Y = X.copy()
for i in range(len(c1)):
    Y[c1[i]] = 0

for i in range(len(c2)):
    Y[c2[i]] = 1
print(Y)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1]

In [263]:
def confusion_matrix(X, Y, l):
    tp = 0 # true positive
    fp = 0 # false positive
    tn = 0 # true negative
    fn = 0 # false negative

    for i in range(l):
        if X[i] == 1 and Y[i] == 1:
            tp += 1
        elif X[i] == 0 and Y[i] == 1:
            fp += 1
        elif X[i] == 1 and Y[i] == 0:
            fn += 1
        else:
            tn += 1

    print("True Positive ", tp)
    print("False Positive ", fp)
    print("False Negative ", fn)
    print("True Negative ", tn)
    print('\n')
    confusion_matrix = [[tp, fp], 
                        [fn, tn]]
    print('Confusion Matrix: ')
    print(np.matrix(confusion_matrix))
    
    return confusion_matrix

In [264]:
def metric(tp, tn, fn, fp):
    acc = (tp + tn) / (tp + tn + fn + fp) # Accuracy
    prc = tp / (tp + fp) # Precision
    rcl = tp / (tp + fn) # Recall
    f1s = (2 * prc * rcl) / (prc + rcl) # F1 Score

    print("Accuracy: ", "{:.2f}".format(acc * 100), "%")
    print("Precision: ", "{:.2f}".format(prc * 100), "%")
    print("Recall: ", "{:.2f}".format(rcl * 100), "%")
    print("F1 Score: ", "{:.2f}".format(f1s * 100), "%")

In [265]:
cm = confusion_matrix(X, Y, len(X))

True Positive  1
False Positive  69
False Negative  141
True Negative  8


Confusion Matrix:
[[  1  69]
 [141   8]]

In [266]:
print(np.matrix(cm))
tp = cm[0][0]
fp = cm[0][1]
fn = cm[1][0]
tn = cm[1][1]

print("True Positive ", tp)
print("False Positive ", fp)
print("False Negative ", fn)
print("True Negative ", tn)
print('\n')

metric(tp, tn, fn, fp)

[[  1  69]
 [141   8]]
True Positive  1
False Positive  69
False Negative  141
True Negative  8


Accuracy:  4.11 %
Precision:  1.43 %
Recall:  0.70 %
F1 Score:  0.94 %