Pandas Series

In [34]:
import pandas as pd
import numpy as np

In [36]:
# In millions
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [38]:
g7_pop.name = 'G7 Population in millions'
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [40]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [42]:
type(g7_pop.values)

numpy.ndarray

In [44]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [46]:
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [48]:
# Creating a series
pd.Series({
    'Canada' : 35.467,
    'France' : 63.951,
    'Germany' : 80.940,
    'Italy' : 60.665,
    'Japan' : 127.061,
    'United Kingdom' : 64.511,
    'United States' : 318.523,
   }, name = 'G7 Population in millions'
)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [50]:
pd.Series(
    [35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523],
    index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States',],
    name = 'G7 Population in millions'
)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

Series out of Series

In [52]:
pd.Series(g7_pop, index = ['France', 'Germany', 'Italy', 'Spain'])

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
Name: G7 Population in millions, dtype: float64

Indexing

In [54]:
g7_pop['Canada']

35.467

In [56]:
g7_pop.iloc[0]

35.467

In [58]:
g7_pop[['Italy', 'France']]
# This creates another Series

Italy     60.665
France    63.951
Name: G7 Population in millions, dtype: float64

In [60]:
g7_pop['Canada': 'Italy']
# Includes upper limit unlike python

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

Conditional Section (Boolean Arrays)

In [62]:
g7_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [64]:
g7_pop[g7_pop > 70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [66]:
g7_pop.mean()

107.30257142857144

In [68]:
g7_pop[g7_pop > g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [70]:
g7_pop.std()

97.24996987121581

In [72]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2) | (g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

Operations and Methods

In [74]:
g7_pop * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [75]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millions, dtype: float64

Modifying Series

In [76]:
g7_pop['Canada'] = 40.5

In [77]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [79]:
g7_pop.iloc[-1] = 500

In [80]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millions, dtype: float64

In [81]:
g7_pop[g7_pop < 70] = 99
g7_pop

Canada             99.000
France             99.000
Germany            80.940
Italy              99.000
Japan             127.061
United Kingdom     99.000
United States     500.000
Name: G7 Population in millions, dtype: float64