# Imports

In [ ]:
import pandas as pd

# Input Data

In [ ]:
# input
x1 = [0, 1, 0, 1, 0, 1, 0, 1]
x2 = [0, 0, 1, 1, 0, 0, 1, 1]
x3 = [0, 0, 0, 0, 1, 1, 1, 1]
# weight
w = [0.1, 0.3, 0.2]
# output
y = [0, 0, 0, 0, 1, 1, 1, 1]
# thresholding function
T = 0.5

Dataframe Definition

In [ ]:
df = pd.DataFrame(list(zip(x3, x2, x1, y)), columns = ['x3', 'x2', 'x1', 'y'])
test_df = df.copy() # copied dataframe for accuracy calculation
l = len(df)
df

   x3  x2  x1  y
0   0   0   0  0
1   0   0   1  0
2   0   1   0  0
3   0   1   1  0
4   1   0   0  1
5   1   0   1  1
6   1   1   0  1
7   1   1   1  1

# Training

Training & Testing Data

In [ ]:
train = 5 # no of training data
test = len(df) - train # no of testing data
print(train, test)

5 3

Learning

In [ ]:
#print(df.loc[:,"x1"] * w[0] + df.loc[:,"x2"] * w[1] + df.loc[:,"x3"] * w[2])

In [ ]:
n = 20 # no of times loop will run
act_y = [0] * (n + 1)
it = 0 # no of iteration
i = 0 # loop iterator

while True:
  it = it + 1
  if i >= train:    # iterate through only train data
    i = 0
  sop = round(df.loc[i,"x1"] * w[0] + df.loc[i,"x2"] * w[1] + df.loc[i,"x3"] * w[2], 2) # sum of product calculation
  

  # actual output according to the thresholding function
  if sop >= T:
    act_y[i] = 1
  else:
    act_y[i] = 0 

  # actual and desired output comparison
  if act_y[i] == df.loc[i, 'y']:  # desired and actual matched
    i = i + 1                     # no change in weight
  else:
    if df.loc[i, 'y'] == 1 and act_y[i] == 0:     # desired 1, actual 0
      for j in range(0, len(w)):                  
        w[j] = w[j] + df.iloc[i, len(w) - 1 - j]  # add input to weight
      print(w)
      i = 0                                       # startover
    else:                                         # desired 0, actual 1
      for j in range(0, len(w)):
        w[j] = w[j] - df.iloc[i, len(w) - 1 - j]  # subtract input from weight
      i = 0                                       # startover

  if it > n : # loop runs n + 1 times
    break

print('Adapted weight:', w)
print('no of iterations: ', it)

[0.1, 0.3, 1.2]
Adapted weight: [0.1, 0.3, 1.2]
no of iterations:  21

# Testing

In [ ]:
# desired output
origin = df.loc[train:, 'y'].values.tolist()
print(origin)

[1, 1, 1]

In [ ]:
# actual output 
result = []
for i in range(train, len(df)):
  sop = round(df.loc[i,"x1"] * w[0] + df.loc[i,"x2"] * w[1] + df.loc[i,"x3"] * w[2], 2)
  if sop >= T:
    result.append(1)
  else:
    result.append(0)
print(result)

[1, 1, 1]

In [ ]:
matched = 0
non_matched = 0
for i in range(0, len(result)):
  if result[i] == origin[i]:
    matched = matched + 1
  else:
    non_matched = non_matched + 1
print(matched, non_matched)

3 0

In [ ]:
acc = (matched / (matched + non_matched)) * 100
print('Accuracy: ', acc, '%')

Accuracy:  100.0 %